.latest{
    margin-top: 90px;
    background-color: #F2F2F2;
    margin-bottom: 80px;
}



.latest__text{
    margin: 0px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -.71px;
    margin-bottom: 40px;
    color: 
    #2D314D;
}

.latest__list{
    display: flex;
    justify-content: space-between;
list-style: none;
padding: 0px;
}

.latest__item__span{
    width: 207px;
    margin-left: 24px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -.16px;
    color: #9597A5;
    display: block;
    margin-top: 25px;
    margin-bottom: 8px;

}

.latest__item{
    background-color: #fff;
    border-radius: 5px;
}

.latest__item__text{
width: 207px;
margin-left: 24px;
font-weight: 100;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.285714px;
color: #2D314D;
transition: color 0.4s ease;

&:hover{
    color: #30C88F;
}
}

.latest__item__poragraff{
width: 207px;
margin-left: 24px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
}


@media only screen and (max-width:426px){
    .latest__text{
        margin: 0px;
        font-weight: 100;
        font-size: 32px;
        line-height: 37.6px;
        letter-spacing: -.57px;
        margin-bottom: 40px;
        color: 
        #2D314D;
        text-align: center;
    }

    .latest__list{
        display: flex;
        justify-content: space-between;
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
    

    }

    .latest__item__image{
        width: 100%;
    }

    .latest__item{
        background-color: #fff;
        border-radius: 5px;
        width: 327px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .latest__item__text{
        
        width: 265px;
        margin-left: 24px;
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.285714px;
        color: #2D314D;
        transition: color 0.4s ease;
        
        &:hover{
            color: #30C88F;
        }
        }
        
        .latest__item__poragraff{
        width: 265px;
        margin-left: 24px;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.203125px;
            color: #9597A5;
        }
}
